@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
*{
    margin:0;
    padding: 0;
}
body{
    font-family:'Open Sans','Source Sans Pro','sans-serif';
    font-size:10px;
}
.nav-general {
    background-color: #C12127;
    font-size: 1.4em; 
    width: 100%;
    height:30px;   
    padding:15px 5px 0 0; 
} 
nav a {
    color:rgba(255, 255, 255, 0.8);
    text-decoration: none;       
}
nav a:hover{
    color:rgb(255, 255, 255);
}
nav span{
    color:rgba(255, 255, 255, 0.8);
}
.nav-left a ,.nav-left span{
    float:left;
}
.nav-left span:hover {
    color:rgb(255, 255, 255);
}
.icon-heart{
    margin:0 18px 0 20px;   
}
.nav-right{
    float:right;      
}
.nav-right ul {
    list-style-type: none;
}
.nav-right ul li {
    display: inline-block;
    margin:0 15px;    
}
#header-container{
    background-color: rgb(35, 90, 117);
    color:#fff;    
}
.header-nav{
    display:inline-block;
    width: 100%;
    padding-top: 20px;  
    position: relative;
}
.logo-header{
    float:left;
    width: 8%;
    margin: 0 20px;
}
.search-bar,.search-bar-2 {
    float: left;
    width: 72.4%;
    background-color: rgb(31,82,111);
    font-size:1.7em;
    padding: 14px 14px;
    border: 0.5px solid rgba(116, 136, 148, 0.548);
}
.search-bar-2{
    width: 1%;  
    margin-right:20px;  
    cursor: pointer;  
}
.position-lupa{
    position: absolute;
    right:226px;
    top:35px;
    cursor: pointer;    
}
.header-nav-right{
    float:left;
    text-align: center;
    margin-top: 12px;
}
.header-nav-right > a,
.header-nav-right > p {
    display: inline;
    text-decoration: none;
    color:rgba(255, 255, 255, 0.8);
    font-size: 1.6em;
    margin:0 3px;
}
.header-nav-item:hover {
     color:rgb(255, 255, 255);
}
.logo-bear{
    width: 40px;
    height: 40px;
}
.clearfix{
    clear:both;
}
#header-center{
    height: 320px;
    width: 100%;
    margin:0 auto;
    font-family:'Open Sans','Source Sans Pro','sans-serif';
}
#header-center h1 {
    font-size: 4.7em;
    font-weight:100;
    letter-spacing: 0.5px;
    margin-top:45px;
    margin-left:300px;
}
#header-center p{
    font-size: 1.8em;
    font-weight: 100;
    margin-top:20px;
    margin-left:300px;
}
.link-botton{
    background-color:rgb(240, 146, 51);
    color:#fff;
    font-size: 1.7em;
    font-weight: 100;
    padding:10px 35px;
    text-decoration: none;
    border-radius: 30px;
    margin-left:300px;
    display: inline-block;
    margin-top: 30px;
}
.link-botton:hover{
    background-color:rgb(228, 126, 25);
}
.imagen{
    float: right;
    margin-top:-340px;
    width: 1680px;
    height: 450px;
    overflow: hidden;  
}
#collaboration {
    background-color: rgb(39, 53, 71);
    height: 570px;
    color: #fff;
}
.collaboration-center{
    background-color: rgb(39, 53, 71);
    width: 66%;
    margin:0 auto;   
}
.image-coll > img {
    width: 530px;
    height: 530px;
    margin-left: 0px;
    float:left;
}
.collaboration-center h2 {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 3.7em;
    float:left;
    margin-top:130px;
    margin-left: 60px;
    margin-bottom: 10px;
}
.list-coll ol{
    font-size: 1.5em; 
    float:left;  
    margin-left:80px;   
}
.list-coll li{
    list-style-type: disc;
    line-height: 2.5;
}
.lnk-coll{
    float:left;  
    background-color: rgb(203, 56, 55);
    color: #fff;
    font-size: 1.7em;
    font-weight: 100;
    padding: 10px 28px;
    text-decoration: none;
    border-radius: 30px;
    margin-top:25px;
    margin-left:60px; 
}
.lnk-coll:hover{
    background-color: rgb(175, 53, 53);
}
.end-coll{
    float: left;
    font-size: 1.5em; 
    margin-top:75px;
    margin-left:-185px;
}
.lnk-color{
    color: #fff;
    text-decoration: none;
}
.lnk-color:hover{
    text-decoration:underline;
}
.section-4{
    color:rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 460px;
    background-image: url("images/forklift.svg");
    background-size:cover;
    position: relative;
}
.col{
    position: absolute;
    left:21.4%;
    top:102px;
    width: 22%;
    height: 100px;  
}
.col h2 {
    font-size: 3.3em;
    font-weight:100;
    margin-bottom:20px;
}
.parag-sec-4 {
    font-size: 1.6em;
}
#lnk-btn-sec4{
    position: absolute;
    left:3%;
    top:225px;   
}
.sec-4{   
    background: rgba(49, 68, 88,0.8);
}
.sec-4:hover{
    background: rgb(49, 68, 88);
}
#section-5{
    background-color: #fff;
    color:rgb(135,145,156);    
}
#section-5 .container{
    margin:0 auto;
    width: 100%;
}
.header-sec5-part1 {
    margin:0 auto;
    text-align: center;
}
.header-sec5-part1 h2{
    font-family: sans-serif;
    font-size: 3.7em;
    font-weight: lighter;
    color: rgb(83,88,98);
    padding:70px 0 22px 0; 
}
.header-sec5-part1 p{
    width:100%;
    font-size: 1.6em;
    font-weight:100;
    padding-bottom: 35px;
}
.header-sec5-part2{
    margin:0 auto;
    text-align: center;
    width: 70%;
}
.col-sec5 {
    float:left;
}
.col-sec5 h4 {
    font-size:2em;
    color:rgb(83, 88, 98);
    font-weight: bolder;
    padding-top:10px;
}
.col-sec5 p {
   font-size: 1.6em;
   font-weight:100;
   padding:10px 10px;
}
.col-3-sec5 {
    width: 33%;
}
.link-red{
    text-decoration: none;
    color: rgb(208, 74, 73);
}
.link-red:hover{
    text-decoration: underline;
}
.no-line{
    text-decoration: none;
    color: rgb(208, 74, 73);
}